table{
    border: 1px solid black;
}

th,tr{
    border: 1px solid black;
    border-collapse: collapse;
}

.incompleteTask{
    background-color: red;
    border: 1px solid black;
}

.completedTask {
    background-color: green;
    border: 1px solid black;;
}