body{
    background-image: radial-gradient( circle, white, indianred, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: 'Tourney', cursive;
    font-size: 50px;
    background-color: slateblue;
    padding: 10px;
    border-radius: 4px;

}

form{
    text-align: center;
}

#enterTaskIn{
    height: 100px;
    font-size: 16px;
}

h2{
    font-family: 'Tourney', cursive;
    font-size: 36px;
    padding-left: 10px;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-spacing: 2px;
    background-color: aliceblue;
    border-radius: 5px;
}

th,tr{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Zen Loop', cursive;
    font-size: 20px;
    padding: 15px;
    border-radius: 2px;
}

td{
    font-family: 'Zen Loop', cursive;
    font-size: 32px;
    padding: 20px;
    border-radius: 2px;

}

.incompleteTask{
    background-color: red;
    border: 5px solid black;
}

.completedTask {
    background-color: green;
    border: 5px solid black;;
}
